@font-face {
  font-family: 'PoppinsBold';
  src: url('../assets/fonts/Poppins-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'AlteHaasGroteskRegular';
  src: url('../assets/fonts/AlteHaasGroteskRegular.ttf');
  font-display: swap;
}

:root {
  --black: #202020;
  --white: #fffffc;
  --blue: #005fff;
  --measure: 60ch;
  --header-font: 'PoppinsBold', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --body-font: 'AlteHaasGroteskRegular', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  --t0: 1.953rem;
  --t1: 1.563rem;
  --t2: 1.25rem;
  --t3: 1rem;
  --t4: 0.8rem;
  --t5: 0.64rem;
  --t6: 0.512rem;
  font-size: calc(1rem + 0.5vw);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: var(--body-font);
  overflow-y: scroll;

  nav {
    a:hover,
    .active {
      background: var(--black);
      color: var(--white);
    }
  }
  a:hover {
    background: var(--black);
    color: var(--white);
  }

  .arrows > a:hover {
    background: var(--white);
    color: var(--black);
  }

  ::selection {
    background-color: var(--black);
    color: var(--white);
  }
}

body.dark {
  background: var(--black);
  color: var(--white);

  nav {
    a:hover,
    .active {
      background: var(--white);
      color: var(--black);
    }
  }
  a:hover {
    background: var(--white);
    color: var(--black);
  }

  .arrows > a:hover {
    background: var(--black);
    color: var(--white);
  }

  ::selection {
    background-color: var(--white);
    color: var(--black);
  }
}

@media (prefers-color-scheme: dark) {
  body.dark {
    background: var(--black);
    color: var(--white);

    nav {
      a:hover,
      .active {
        background: var(--white);
        color: var(--black);
      }
    }
    a:hover {
      background: var(--white);
      color: var(--black);
    }

    .arrows > a:hover {
      background: var(--black);
      color: var(--white);
    }

    ::selection {
      background-color: var(--white);
      color: var(--black);
    }
  }
}

h1,
header {
  font-family: var(--header-font);
  text-transform: uppercase;
}

nav,
footer {
  ul {
    list-style: none;
    padding: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--t0);
}

h2 {
  font-size: var(--t1);
}

h3 {
  font-size: var(--t2);
}

h4 {
  font-size: var(--t3);
}

h5 {
  font-size: var(--t4);
}

h6 {
  font-size: var(--t5);
}

a {
  transition: all 100ms ease-in-out;
}

a,
a:visited {
  color: inherit;
}

a:focus,
button:focus {
  outline: 8px double var(--blue);
}

a:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
  outline: none;
}

hr {
  padding: 0;
  border: none;
  border-top: medium double currentColor;
  color: currentColor;
  text-align: center;
}

/* Scrollbar Styles */
body::-webkit-scrollbar {
  width: 12px;
}
html {
  scrollbar-width: thin;
  scrollbar-color: var(--black) var(--white);
}
body::-webkit-scrollbar-track {
  background: var(--white);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--black);
  border-radius: 6px;
  border: 3px solid var(--white);
}
